.logo {
  width: 140px;
  height: 40px;
  background: rgba(255, 255, 255, 0.2);
  margin: 12px 50px 23px 0;
  float: left;
}

.logo img{
  max-width: 100%;
  height: 40px ;
  margin-bottom: 30px;
  background-color: darkblue;
}

.header-menu {
  line-height: 64px;
}

.outer-content {
  padding: 0 50px;
  min-height: 550px;
}

nz-breadcrumb {
  margin: 16px 0;
}

.inner-layout {
  padding: 24px 0;
  background: #fff;
  height: 530px ;
}

.sider-menu {
  height: 100%;
}

.inner-content {
  padding: 0 24px;
  min-height: 280px;

}

nz-footer {
  text-align: center;
}

.head{
  background-color: darkblue;
}

.head ul{
  background-color: darkblue;
}

.main{

}
